@font-face {
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 500;
    src: local(''),
         url('../../fonts/red-hat-text-v11-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../fonts/red-hat-text-v11-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.h1 {
    font-family: 'Kanit', sans-serif;
}

.navi h4 {
    font-family: 'Kanit', sans-serif;
    font-size: ;
}
